[Desktop Entry]
Name=tabliato
Comment=
Categories=Qt;AudioVideo;Music;Utility;TextEditor;
Keywords=lilypond;editor;sheet music;
Exec=tabliato %f
Icon=tabliato
Terminal=false
Type=Application
StartupNotify=true
MimeType=application/x-tabliato-dtb;
