 ---
 ---

@import "minima";

html 
{ 
	font-size: 100%; 
	font-family: sans-serif; 
}

body 
{
	background: #EAEAEA;
	font-size:14px;
	color:#484848;
	margin:0;
	line-height: 1.4;
}

/* Lien du header */
nav
{
	font-family:'Open Sans',sans-serif;
	font-weight:300;
	font-size:16px;
	margin:0 auto;
	text-align:center;
}

nav ul
{
	list-style-type:none;
	padding:4px 0 0 0;
	position:relative;
	margin:0;
}

nav li
{
	display:inline;
	margin:0;
	padding:0 6px;
	text-transform:uppercase;
}

nav ul li a
{
	color:#999999;
	text-decoration:none;
	-moz-transition:color 0.5s linear 0s
}

nav ul li a:hover,nav ul li a:visited:hover,nav ul a
{
	color:#333333;
	text-decoration:none;
	-moz-transition:color 0.25s linear 0s
}


/* There is one table only to list the tablibrary */
table, th, td 
{
  	border : 2px solid #e3e7ec;
  	border-left: none;
  	border-right: none;
	max-width: 100%;
}

@media only screen and (max-width: 600px) 
{
    .hideonphone 
	{
        display: none;
    }
}


/* source code et snippet  coloration syntaxique */ 
pre
{
	max-width:500px;
}

/* ?? */
.hljs 
{
	border: 1px solid gray;
	border-radius:7px;
}

.hljs:hover 
{
  border-color: #ff4754;
}

kbd 
{
 	background-color: #f0f0f0;
  	border: 1px solid #ccc;
  	border-radius: 3px;
  	display: inline-block;
	font-size: 80%; 
  	font-weight: bold;
  	line-height: 1;
  	padding: 2px 4px;
  	text-align: center;
  	white-space: nowrap;
}

/* Liens */


a {color: #336699;text-decoration:none;}
a:hover {text-decoration:underline;}
a:visited {text-decoration:dashed;}

/* Image */ 

img 
{
 	max-width: 100%;
	display: block;
	border:0;
}


/* Titres */

h1,h2,h3,h4,h5,h6
{
	font-family:'Open Sans',sans-serif;
	font-weight:normal;
	color:#363636;
	line-height: 1.4;
}

h1{font-size:2.5rem;}
h2{font-size:1.5rem;}
h3{font-size:1.2rem;}

body > header 
{
    background-color: #DEE7EE;
    border-bottom: 1px solid #B3B8BC;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

audio
{
	border-radius:10px;
	transition:all 0.5s linear;
}

.main-container 
{
	margin-left:auto;
	margin-right:auto;
	padding:0;
	max-width:810px;
	text-align:justify;
}

.main-header {padding-top:10px;}


.center 
{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}


article {padding: 20px;}

article h1:first-child {margin-top:0;padding-top:0}
article h2:first-child {margin-top:0;padding-top:0}

footer 
{
	background: #677177;
    color: #fff;
    font-size: 0.75rem;
    padding: 48px 0;
	margin-top: 20px;
}

footer p{padding:5px;margin:0}
footer a {color: #85e0ff;text-decoration: none;}
footer a:visited {color: #66d9ff;}
footer a:hover, #footer a:focus, #footer a:active 
{
    color: #a3e8ff;
    text-decoration: underline;
}

.flogo {font-family: 'Open Sans',sans-serif;font-size:1.8rem;font-weight:bold; color:#aaa;letter-spacing:-2px;}

.footer-nav 
{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 180px;
}

.main-old{background:#fff}


.btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}

.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
	text-decoration:none;
}

.btn:active {
	position:relative;
	top:1px;
}

.shadow
{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cover {
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 10px;
	max-width:610px;
	margin:auto;
}

@media screen and (max-width: 610px) {
  #cover {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}




